@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-open-sans-font: 'Open Sans', sans-serif;
    --font-poppins: 'Poppins', 'sans-serif';

    --color-purpleLight: #6957af;
    --color-bgLight: #eee;
    --color-bgDark: #2b2a2a;
    --color-borderDark: #252525;
    --color-borderLight: #ddd;
    --color-gray: #666;
}

.preloader .loader, .line:before, .button:before{
	background-color: #6957af;
}

.contact .contactform input[type=text]:focus,
.contact .contactform input[type=email]:focus,
.contact .contactform textarea:focus,
body.light .contact .contactform input[type=text]:focus,
body.light .contact .contactform input[type=email]:focus,
body.light .contact .contactform textarea:focus,
.button{
	border: 1px solid #6957af;
}
.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
	border: 0.08em solid #6957af;
}

html {
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  /* font-size: 15px; */
  color: #fff;
  font-weight: 500;
  line-height: 1.6;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  background-color: #111;
}

.img {
  height: calc(100vh - 80px);
  z-index: 111;
  border-radius: 30px;
  left: 40px;
  top: 40px;
  box-shadow: 0 0 7px rgba(0,0,0,.9);
  object-fit: cover;
  padding: 0;
}

.home-details h1 {
  font-size: 39px;
  line-height: 39px;
  margin: 18px 0 13px;
}

@media (min-width: 1024px) {
  .home-details h1 {
    font-size: 51px;
    line-height: 62px;
    font-weight: 700;
    margin: 18px 0 10px;
    position: relative;
    padding-left: 70px;
  }
}

.popup h3 {
  text-transform: uppercase;
  padding: 10px 0 20px;
  font-weight: 700;
  text-align: center;
  font-size: 33px;
}

.home .home-details h1:before {
  content: '';
  position: absolute;
  left: 0;
  top: 29px;
  height: 4px;
  width: 40px;
  border-radius: 10px;
}

hr.separator {
  border-top: 1px solid #252525;
  margin: 70px auto 55px;
  max-width: 40%;
}

.ft-wt-600 {
  font-weight: 600;
}

.mb-30 {
  margin-bottom: 30px;
}

.no-transform {
  transform: none !important;
}

.custom-title {
  padding-bottom: 22px;
  font-size: 26px;
}

/*** Light Body ***/

body.light {
  color: #666;
  background-color: #fff;
}

body.light #preloader:before,
body.light #preloader:after {
	background-color: #eee;
}

body.light .title-section h2 {
  color: #666;
}

body.light .title-bg {
  color: rgba(30, 37, 48, 0.07);
}

body.light .about .box-stats {
  border: 1px solid #ddd;
}

body.light .about .c100,
body.light .about .resume-box .time {
  background-color: #eee;
}

body.light .about .resume-box .time,
body.light .about .resume-box p {
  color: #666;
}

body.light .about .resume-box .place:before {
  background-color: #666;
}

body.light .about .resume-box li:after {
  border-left: 1px solid #ddd;
}

body.light .about .c100 > span {
  color: #666;
}

body.light .about .c100:after {
  background-color: #fff;
}

body.light .contact .contactform input[type=text],
body.light .contact .contactform input[type=email],
body.light .contact .contactform textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #666;
}

body.light hr.separator {
  border-top: 1px solid #ddd;
}

@media (max-width: 991px) {

  body.light .main-img-mobile {
    border: 4px solid #eee;
  }
}

@media (max-width: 576px) {
  body.light .title-section {
    background: #eee;
    border-bottom: 1px solid #ddd;
  }
}
/*** Preloader ***/

#preloader {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 99999;
	display: flex;
	pointer-events: none;
}

#preloader:before,
#preloader:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	z-index: -1;
	background-color: #222;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}

#preloader:after {
	left: auto;
	right: 0;
}

#preloader .line {
	margin: auto;
	width: 3px;
	border-radius: 4px;
	height: 250px;
	position: relative;
	overflow: hidden;
	-webkit-transition: all .8s ease 0s;
	-o-transition: all .8s ease 0s;
	transition: all .8s ease 0s;
}

.line:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 3px;
	height: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-animation: animateline 1000ms ease-in-out 0s forwards;
	-o-animation: animateline 1000ms ease-in-out 0s forwards;
	animation: animateline 1000ms ease-in-out 0s forwards;
}

.line:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: transparent;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-animation: animatebgline 1200ms linear 0s infinite;
	-o-animation: animatebgline 1200ms linear 0s infinite;
	animation: animatebgline 1200ms linear 0s infinite;
	animation-delay: 2000ms;
}

@keyframes animateline {
	0% {
		height: 0;
	}

	100% {
		height: 100%;
	}
}

@keyframes animatebgline {
	0% {
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}

	100% {
		-webkit-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-o-transform: translateY(200%);
		transform: translateY(200%);
	}
}

.preloaded .line:after {
	opacity: 0;
}

.preloaded .line {
	opacity: 0;
	height: 100% !important;
}

.preloaded:before,
.preloaded:after {
	-webkit-animation: finishanimation 500ms ease-in-out 500ms forwards;
	-o-animation: finishanimation 500ms ease-in-out 500ms forwards;
	animation: finishanimation 500ms ease-in-out 500ms forwards;
}

@keyframes finishanimation {
	0% {
		width: 50%;
	}

	100% {
		width: 0;
	}
}
/*** Buttons ***/
.button {
  overflow: hidden;
  display: inline-block;
  line-height: 1.4;
  border-radius: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  transition: 250ms all ease-in-out;
  text-transform: uppercase;
  text-decoration: none !important;
  position: relative;
  z-index: 1;
  padding: 16px 70px 16px 35px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  outline: none !important;
}

.button:before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
  transition: .3s ease-out all;
}

.button:hover:before {
  transform: translateX(0);
}

.title-section {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 80px 0;
}

.title-section h2 {
  font-size: 56px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.title-bg {
  font-size: 110px;
  left: 0;
  letter-spacing: 10px;
  line-height: 0.7;
  position: absolute;
  right: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.07);
  z-index: -1;
}

/*** About ***/

.about .main-content {
  padding-bottom: 20px;
}

/* Personal Info List */

.about .about-list li:not(:last-child) {
  padding-bottom: 20px;
}

.about .about-list .title {
  opacity: .8;
  text-transform: capitalize;
}

.about .about-list .value {
  font-weight: 600;
}

/* Box Stats */

.about .box-stats {
  padding: 20px 30px 25px 40px;
  border-radius: 5px;
  border: 1px solid #252525;
}

.about .box-stats.with-margin {
  margin-bottom: 30px;
}

.about .box-stats h3 {
  position: relative;
  display: inline-block;
  margin: 0;
  font-size: 50px;
  font-weight: 700;
}

.about .box-stats h3:after {
  content: '+';
  position: absolute;
  right: -24px;
  font-size: 33px;
  font-weight: 300;
  top: 2px;
}

.about .box-stats p {
  padding-left: 45px;
}

.about .box-stats p:before {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  width: 30px;
  height: 1px;
  background: #777;
}

/* Resume */

.about .resume-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about .resume-box li {
  position: relative;
  padding: 0 20px 0 60px;
  margin: 0 0 50px;
}

.about .resume-box li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
  border-left: 1px solid #333;
}

.about .resume-box .time {
  color: #fff;
  font-size: 12px;
  padding: 1px 10px;
  display: inline-block;
  margin-bottom: 12px;
  border-radius: 20px;
  font-weight: 600;
  background-color: #252525;
  opacity: .8;
}

.about .resume-box h5 {
  font-size: 18px;
  margin: 7px 0 10px;
}

.about .resume-box p {
  margin: 0;
  color: #eee;
  font-size: 14px;
}

.about .resume-box .place {
  opacity: .8;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  padding-left: 26px;
}

.about .resume-box .place:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 2px;
  background-color: #fff;
  left: 7px;
  top: 9px;
  opacity: .8;
}

/* Skills */

.about .c100 {
  float: none !important;
  margin: 0 auto;
  background-color: #252525;
}

.about .c100 > span {
  color: #fff;
}

.about .c100:after {
  background-color: #111;
}

/*** Portfolio ***/
.portfolio .main-content {
  padding-bottom: 60px;
  margin-top: -15px;
}

/* Grid */

.portfolio .grid-gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio .grid-gallery figure {
  margin: 0;
}

.portfolio .grid-gallery figure img {
  display: block;
  width: 100%;
  border-radius: 5px;
  transition: .3s;
}

.portfolio .grid-wrap {
  margin: 0 auto;
}

.portfolio .grid {
  margin: 0 auto;
}

.portfolio .grid li {
  width: 33.333333%;
  float: left;
  cursor: pointer;
  padding: 15px;
}

.portfolio .grid figure {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.portfolio .grid figure img {
  display: block;
  position: relative;
}

.portfolio .grid li a {
  overflow: hidden;
}

.portfolio .grid li figure div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.portfolio .grid li figure div span {
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
}

/*** Contact ***/
.contact .main-content {
  padding-bottom: 85px;
}
/* Left Side */

.contact .custom-span-contact {
  font-weight: 600;
  padding-left: 50px;
  line-height: 21px;
  padding-top: 5px;
}

.contact .custom-span-contact i {
  left: 0;
  top: 10px;
  font-size: 33px;
}

.contact .custom-span-contact i.fa-phone-square {
  font-size: 39px;
  top: 7px;
}

.contact .custom-span-contact span {
  text-transform: uppercase;
  opacity: .8;
  font-weight: 400;
}

/* Form */
.contact .contactform input[type=text],
.contact .contactform input[type=email] {
  border: 1px solid #111;
  width: 100%;
  background: #252525;
  color: #fff;
  padding: 11px 26px;
  margin-bottom: 30px;
  border-radius: 30px;
  outline: none !important;
  transition: .3s;
}

.contact .contactform textarea {
  border: 1px solid #111;
  background: #252525;
  color: #fff;
  width: 100%;
  padding: 12px 26px;
  margin-bottom: 20px;
  height: 160px;
  overflow: hidden;
  border-radius: 30px;
  outline: none !important;
  transition: .3s;
}

.contact .contactform .form-message {
  margin: 24px 0;
}

.contact .contactform .output_message {
  display: block;
  color: #fff;
  height: 46px;
  line-height: 46px;
  border-radius: 30px;
}

.contact .contactform .output_message.success {
  background: #28a745;
}

.contact .contactform .output_message.success:before {
  font-family: FontAwesome;
  content: "\f14a";
  padding-right: 10px;
}

.contact .contactform .output_message.error {
  background: #dc3545;
}

.contact .contactform .output_message.error:before {
  font-family: FontAwesome;
  content: "\f071";
  padding-right: 10px;
}

/* [ RESPONSIVE DESIGN STYLES ] */

@media (min-width: 1351px) {
  .portfolio .container-portfolio .grid {
    text-align: left;
  }
}

@media (max-width: 1350px) and (min-width: 992px) {
  .container {
    max-width: calc(100% - 195px);
  }

  .portfolio .container-portfolio {
    max-width: calc(100% - 195px);
  }
}

/* Mobile  Navigation */

@media (max-width: 991px) {

  .main-img-mobile {
    border-radius: 50%;
    width: 270px;
    height: 270px;
    border: 4px solid #252525;
    margin: 0 auto 25px;
    display: block;
  }

  .portfolio .grid li {
    width: 50%;
  }

  .portfolio .grid li figure div {
    display: none !important;
  }

  .contact .main-content {
    padding-bottom: 0;
  }
}

@media (max-width: 576px) {

  body {
    font-size: 14px;
  }

  .main-content {
    padding-top: 85px;
  }

  .main-content > .container {
    padding: 0 25px;
  }

  .main-img-mobile {
    width: 230px;
    height: 230px;
  }

  .title-section {
    padding: 16px 25px 14px;
    background: #252525;
    border-bottom: 1px solid #333;
    margin-bottom: 36px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 11;
    top: 0;
  }

  .title-section h2 {
    font-size: 26px;
  }

  .title-bg {
    display: none;
  }

  .custom-title {
    font-size: 21px;
  }

  .about .main-content {
    padding-bottom: 0;
  }

  .about .resume-box h5 {
    font-size: 17px;
  }

  .about .box-stats {
    padding: 15px 20px 20px 25px;
  }

  .about .c100 {
    transform: scale(.8);
  }

  .about .box-stats.with-margin {
    margin-bottom: 25px;
  }

  .about .box-stats h3 {
    font-size: 40px;
  }

  .about .box-stats p {
    padding-left: 0;
  }

  .about .box-stats p:before {
    display: none;
  }

  .portfolio .main-content {
    padding-bottom: 10px;
    margin-top: -12px;
  }

  .portfolio .grid li {
    width: 100%;
  }

  .portfolio .main-content > .container {
    padding: 0 10px;
  }

  .separator.mt-1 {
    margin-top: 35px !important;
  }
}

/* animation de hoverdir */
.hoverdir-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.hoverdir-overlay {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background: #6957af;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transform: translate(0, 0);
  transition: transform 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.hoverdir-overlay.in {
  opacity: 1;
  visibility: visible;
  animation: slideIn 0.3s forwards;
}

.hoverdir-overlay.out {
  opacity: 1;
  visibility: visible;
  animation: slideIn 0.3s forwards;
}

/* Animations d'entrée */
.hoverdir-overlay.in.from-top { transform: translateY(-100%); }
.hoverdir-overlay.in.from-right { transform: translateX(100%); }
.hoverdir-overlay.in.from-bottom { transform: translateY(100%); }
.hoverdir-overlay.in.from-left { transform: translateX(-100%); }

.hoverdir-overlay.in {
  animation: slideIn 0.3s forwards;
}

/* Animations de sortie */
.hoverdir-overlay.out.to-top { 
  animation: slideOutTop 0.3s forwards; 
}
.hoverdir-overlay.out.to-right { 
  animation: slideOutRight 0.3s forwards; 
}
.hoverdir-overlay.out.to-bottom { 
  animation: slideOutBottom 0.3s forwards; 
}
.hoverdir-overlay.out.to-left { 
  animation: slideOutLeft 0.3s forwards; 
}

@keyframes slideIn {
  to { transform: translate(0, 0); }
}
@keyframes slideOutTop {
  to { transform: translateY(-100%); }
}
@keyframes slideOutRight {
  to { transform: translateX(100%); }
}
@keyframes slideOutBottom {
  to { transform: translateY(100%); }
}
@keyframes slideOutLeft {
  to { transform: translateX(-100%); }
}